<html>

<head>
    <style>
        body {
            text-align: center;
            background-color: beige;
            /* background-image: url(https://st2.depositphotos.com/1265075/7365/i/450/depositphotos_73656201-stock-photo-web-contact-us-icons-cubes.jpg); */
            /* font-size: 20rem; */
            background-attachment: fixed;
        }

        p {
            margin: 4px;
        }

        /* .page-canvas{
            background-color:bisque ;
            text-align: center;
        } */

        .heading {
            text-align: center;
            background-color: blanchedalmond;
        }

        .contact-list {
            list-style-type: none;
            justify-content: space-between;
            margin: 10px;

        }

        .list-item {
            background-color: burlywood;
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 4px;
            /* flex-direction: row; */
            align-items: center;
        }

        .details {
            display: flex;
            flex-direction: row;
            padding: 5px;
            justify-content: space-evenly;
            width: 80%;

            /* margin-right: 4px; */
        }

        .name {
            justify-self: flex-start;
        }

        .number {
            justify-self: flex-end;
        }

        .delete-button {
            justify-content: left;
            margin-right: 5px;
        }

        .new-contact-form{
            width:90%; 
            text-align: center;
            margin-left: 100px;
            
        }

        .inputfields,.submit-button{
            width:33%;
            height:4rem;
            border: solid rgb(111, 64, 3);
            border-radius: 3%;
            color: beige;
            background-color: rgb(156, 115, 66);
        }

        .inputfields::placeholder{
            color: beige;
        }
    </style>
    <title>
        <%= locals.title %>
    </title>
</head>

<body>

    <div class="page-canvas">
        <h1 class="heading"> Contact List </h1>
        <div class="contact-list-container">
            <ul class="contact-list">
                <% for (let i of contact_list){ %>
                    <li class="list-item">
                        <div class="details">
                            <p class="name">
                                <%= i.name %>
                            </p>
                            <p class="number">
                                <%= i.phone %>
                            </p>
                        </div>
                        <div class="delete-button">
                            <a href="/delete-contact/?id=<%= i._id %>">
                                <i class="fa-solid fa-trash"></i>
                            </a>
                        </div>
                    </li>
                    <% } %>
            </ul>
        </div>

        <form action="/create-contact" method="POST" class="new-contact-form">
            <input type="text" name="name" placeholder="Enter Name" required class="inputfields">
            <input type="number" name="phone" placeholder="Enter Number" required class="inputfields">
            <button type="submit" class="submit-button"> Add Contact </button>
        </form>
    </div>
</body>
<script src="https://kit.fontawesome.com/e6b8bf91fa.js" crossorigin="anonymous"></script>

</html>